Unattended-Upgrade::Automatic-Reboot "{{ security_autoupdate_reboot }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ security_autoupdate_reboot_time }}";
{% if security_autoupdate_mail_to %}

Unattended-Upgrade::Mail "{{ security_autoupdate_mail_to }}";
{% if security_autoupdate_mail_on_error %}
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}
{% endif %}
{% if security_autoupdate_enable_allowed_origins %}

Unattended-Upgrade::Allowed-Origins {
{% for package in security_autoupdate_allowed_origins %}
	"{{package}}";
{% endfor %}
};
{% endif %}
{% if security_autoupdate_enable_origins_pattern %}

Unattended-Upgrade::Origins-Pattern {
{% for package in security_autoupdate_origins_pattern %}
	"{{package}}";
{% endfor %}
};
{% endif %}

Unattended-Upgrade::Package-Blacklist {
{% for package in security_autoupdate_blacklist %}
	"{{package}}";
{% endfor %}
}
